<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Heroes and Villains</title>
</head>
<body class="background">
    <div class="container mt-5">
        <div class="d-flex my-5 flex-column align-items-center justify-content-around">
            <!-- Project Name/Logo -->
            <h1 class="mb-5"><span class="title p-2 rounded"><span class="title_hero_txt">Heroes</span>
            <span class="title_and_txt">and</span> <span class="title_villain_txt">Villains</span></span></h1>
            <!-- Search Bar and Button -->
            <form action="/search/heroes/villains" method="POST">
                <input type="text" name="name" class="search_bar rounded p-1 mx-2" placeholder="Search Heroes and Villains...">
                <input type="submit" value="Search" class="search_button rounded">
            </form>
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(category_filter=['h_and_v']) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <h2 class="hero_txt title rounded my-4 p-3"><strong>{{message}}</strong></h2>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- End of Flash messages -->
        </div>
    </div>
</body>
</html>