<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Heroes and Villains</title>
</head>
<body class="background">
    <div class="container">
        <div class="flex-column col-md-10 mx-auto my-5 p-3 grad card rounded">
            <div class="d-flex align-items-center justify-content-between p-4">
                <h1 class="responsive text-light"><span class="title p-2 rounded"><span class="title_hero_txt">Heroes</span>
                <span class="title_and_txt">and</span> <span class="title_villain_txt">Villains</span></span></h1>
                <form class="d-flex align-items-center" action="/search/heroes/villains" method="POST">
                    <input type="text" name="name" class="search_bar rounded p-1 mx-2" placeholder="Search Heroes and Villains...">
                    <input type="submit" value="Search" class="search_button rounded">
                </form>
            </div>
            <div class="d-flex mb-3">
                <div class="d-flex justify-content-center">
                    <img class="responsive profile_pic my-4 hero_shadow rounded" src="{{ session.image }}" alt="{{ session.name }}">
                </div>
                <div class="col-7 my-auto">
                    <div class="p-4">
                        <h1 class="text-light text-center title hero_txt rounded">{{ session.name }}</h1>
                    </div>
                    <div class="d-flex justify-content-around fields fields_txt rounded">
                        <a class="mx-4 text-decoration-none text-light" href="#appearance">APPEARANCE</a>
                        <a class="mx-4 text-decoration-none text-light" href="#biography">BIOGRAPHY</a>
                        <a class="mx-4 text-decoration-none text-light" href="#connections">CONNECTIONS</a>
                        <a class="mx-4 text-decoration-none text-light" href="#powerstats">POWERSTATS</a>
                    </div>
                    <div class="d-flex scrollbar overflow-x-auto">
                        <!-- Appearance -->
                        <div id="appearance" class="col-12 text-light p-4">
                            <div class="d-flex justify-content-between mb-2">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">GENDER</strong></p>
                                <p class="fields_txt">{{ session.gender }}</p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">RACE</strong></p>
                                <p class="fields_txt"><strong>{{ session.race }}</strong></p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">HEIGHT</strong></p>
                                <p class="fields_txt"><strong>{{ session.height }}</strong></p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">CENTIMETERS</strong></p>
                                <p class="fields_txt"><strong>{{ session.cm }}</strong></p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">WEIGHT</strong></p>
                                <p class="fields_txt"><strong>{{ session.weight }}s</strong></p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">KILOGRAMS</strong></p>
                                <p class="fields_txt"><strong>{{ session.kilograms }}</strong></p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">EYE COLOR</strong></p>
                                <p class="fields_txt"><strong>{{ session.eye_color }}</strong></p>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">HAIR COLOR</strong></p>
                                <p class="fields_txt"><strong>{{ session.hair_color }}</strong></p>
                            </div>
                        </div>
                        <!-- End of Appearance -->
                        <!-- Biography -->
                        <div id="biography" class="col-12 text-light p-4">
                            <p class="fields_txt"><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">FULL NAME:</strong> {{ session.full_name }}</p>
                            <hr>
                            <p class="fields_txt"><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">ALTER EGOS:</strong> {{ session.alter_egos }}</p>
                            <hr>
                            <p class="fields_txt"><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">ALIASES:</strong> {{ session.aliases }}</p>
                            <hr>
                            <p class="fields_txt"><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">PLACE OF BIRTH:</strong> {{ session.place_of_birth }}</p>
                            <hr>
                            <p class="fields_txt"><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">OCCUPATION:</strong> {{ session.occupation }}</p>
                            <hr>
                            <p class="fields_txt"><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">BASE:</strong> {{ session.base }}</p>
                            <hr>
                            <p class="fields_txt"><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">FIRST APPEARANCE:</strong> {{ session.first_appearance }}</p>
                            <hr>
                            <!-- <p><strong>Alignment:</strong> {{ session.alignment }}</p> -->
                        </div>
                        <!-- End of Biography -->
                        <!-- Connections -->
                        <div id="connections" class="col-12 text-light p-4">
                            <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">GROUP AFFILIATION</strong></p>
                            <p class="fields_txt">{{ session.group_affiliation }}</p>
                            <hr>
                            <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">RELATIVES</strong></p>
                            <P class="fields_txt">{{ session.relatives }}</P>
                            <hr>
                            <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">PUBLISHER</strong></p>
                            <p class="fields_txt">{{ session.publisher }}</p>
                            <hr>
                        </div>
                        <!-- End of Connections -->
                        <!-- Powerstats -->
                        <div id="powerstats" class="col-12 text-light p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">INTELLIGENCE</strong></p>
                                {% if session.intelligence == '100' %}
                                    <p class="text-warning text-warning fields_txt">{{ session.intelligence }}</p>
                                {% else %}
                                    <p class="fields_txt">{{ session.intelligence }}</p>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">STRENGTH</strong></p>
                                {% if session.strength == '100' %}
                                    <p class="text-warning text-warning fields_txt">{{ session.strength }}</p>
                                {% else %}
                                    <p class="fields_txt">{{ session.strength }}</p>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">SPEED</strong></p>
                                    {% if session.speed == '100' %}
                                <p class="text-warning text-warning fields_txt">{{ session.speed }}</p>
                                {% else %}
                                    <p class="fields_txt">{{ session.speed }}</p>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">DURABILITY</strong></p>
                                {% if session.durability == '100' %}
                                    <p class="text-warning text-warning fields_txt">{{ session.durability }}</p>
                                {% else %}
                                    <p class="fields_txt">{{ session.durability }}</p>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">POWER</strong></p>
                                {% if session.power == '100' %}
                                    <p class="text-warning text-warning fields_txt">{{ session.power }}</p>
                                {% else %}
                                    <p class="fields_txt">{{ session.power }}</p>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <p><img class="app_icon" src="/static/img/ball.png" alt="ball"><strong class="fields_txt">COMBAT</strong></p>
                                {% if session.combat == '100' %}
                                    <p class="text-warning text-warning fields_txt">{{ session.combat }}</p>
                                {% else %}
                                    <p class="fields_txt">{{ session.combat }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End of Powerstats -->
                    </div>
                    <!-- Alignment -->
                    <div class="p-4 mt-2 text-center text-light">
                        {% if session.alignment == "good" %}
                        <div class="hero rounded">
                            <h1 class="hero_txt">Hero</h1>
                        </div>
                        {% else %}
                            <div class="villain rounded">
                                <h1 class="villain_txt">Villain</h1>
                            </div>
                        {% endif %}
                    </div>
                    <!-- End of Alignment -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>