/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url("/static/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.responsive {
    width: 90%;
    height: auto;
}

.form {
    height: 37px;
    width: auto;
    margin-left: 10px;
}